@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

 * {
    font-family : 'Roboto', sans-serif;        
 }
 body{
     width: auto;
     margin: auto;
 }

.header__logo{
    color: black;
    margin: 0;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 2em;
    font-weight: bold;
    font-family: "Shrikhand", "cursive";
}

.header{
    padding: 1rem 1rem;
    position: relative;
    
    
}
.header__arrowleft{
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    transform: translateY(-28%);
    font-size: 1.2rem;
    color: black;
}
 
/*@media all and (min-width: 414px) and (max-width: 767px){
    .header{
        margin: -2% -2% auto -2%;
       }

    
}/*
@media all and (min-width: 768px) and (max-width: 1280px){
    img{
    width:24%;
    }
}*/
.backgroundloc{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 1.2rem;
    margin: 0 -0.5% 0 -0.5%;
    background: -moz-linear-gradient(bottom, rgb(243,243,243) 0%, rgb(243,243,243) 96%, rgb(207,207,207) 100%);
    background: -webkit-linear-gradient(top, rgb(243,243,243) 0%, rgb(243,243,243) 96%, rgb(207,207,207) 100%);
    background: linear-gradient(to top, rgb(243,243,243) 0%, rgb(243,243,243) 96%, rgb(207,207,207) 100%);
}


.localisation__text{
    margin-left: 1%;

}
.recherche{
    text-align: center;
    background-color: rgb(250, 250, 250);
    padding-top: 1%;
    height: 12rem;
    margin: 0 -0.5% 0 -0.5%;
}

.recherche__button{
   text-decoration: none;
   color:rgb(255, 255, 255);
   font-size: 1.1rem;
   padding: 0.70rem 1.0rem;
   background-image: linear-gradient(0deg, rgba(144, 79, 223, 0.9), rgba(255,121,218,0.9));
   border-radius: 6rem;
}

.recherche__button:hover{
    box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,0.5);
}

.soustitre{
   padding-bottom: 1.2rem;
   font-weight: 300;
}

.sectionfontionnement,.fonctionnement,.flex{
    max-width: 1280px;
    margin: auto;
    position: relative;
    padding-bottom: 1rem;
    margin-top: 2.5rem;
}

.fonctionnement__liste{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    width: 100%;
}
h2.visibility
{
  visibility:hidden;
}

.fonctionnement__liste__fon {
    display: flex;
    background-color: #f3f3f3;
    width: 20rem;
    height: 3.5rem;
    border-radius: 1.25rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.125);
}
.fonctionnement__liste__fon__icon{   
    color: #808080;
    padding-left: 1.5rem;
    padding-top: 1.3rem;
}

.fonctionnement__liste__fon .text{
    padding-top: 1.2rem;
    margin-left: 1rem;
}

.fonctionnement__liste__fon:hover{
    background-color: #e4d4f6;
}

.sectionfontionnement {
  counter-reset: count;
}

.fonctionnement__liste__fon::before {
    counter-increment: count 1;
    content: counter(count) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 6.25rem;
    color: #fff;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.1rem;    
    margin-left: -0.65rem;    
}

.restau{
 background-color: #f3f3f3;
 height: 48rem;
 margin: 0 -0.5% 0 -0.5%;
}

.restaurants__titre{
  padding-top: 4rem;
}
.restaurants__liste__image {
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    height: 12rem;
    width: 39rem;
    margin-top: 1rem;
    box-shadow: none; 
       
}
.restaurants__imgmenu{
    max-width: 100%;
    max-height: 30rem;
    width: 100%;
    object-fit: cover;
}

.restaurants__liste__footer{   
   padding: 1rem;
   justify-content: space-between;
   background-color: #fff;
   margin-top: -0.3rem;
   width: 37rem;
   display: flex;
   align-items: center;
   border-radius: 0 0 1rem 1rem;  
   height: 3.5rem;
   box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.125);
}

.restaurants__global{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}  

.boite {
      position: relative;
      }

.legende {
      position: absolute;
      padding: 0.5rem;
      bottom: 14rem;
      left: 33rem;
      background-color: #99e2d0;
      color: #1b6150;
     /*opacity: 0;*/
      -webkit-transition: opacity .5s ease;
      transition: opacity .5s ease;
      }

.boite:hover .legende {
      opacity:2;
      } 

.restaurants__liste__coeur{
     transition: all 0.5s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.08rem;
    background: -webkit-linear-gradient(top right, #9356dc 30%, #ff79da 70%);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-size: 100% 0;
    background-position: 100% 100%;
    font-weight: bold;

}
.restaurants__liste__coeur:hover {
    background-size: 100% 100%;
    -webkit-text-stroke-color: transparent;
}
.boite a{
  text-decoration: none;
  color: black;
}
.footer{
    background-color: #353535;
    text-align: center;
    line-height: 2rem;
    padding: 1rem;
    margin: 0 -0.5% 0 -0.5%;
}
.footer__logo{
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
   font-size: 1.2rem;
}
.footer__link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.footer__link:hover {
    text-decoration: underline;
}
.footer__liste {
    list-style: none;
}
.footer__icon{
    margin-left: -2.8rem;
    margin-right: 0.8rem;
}