/*--------------\*
only screen and (min-width: 360px) and (max-width: 413px)
/*--------------*/


.localisation__text{
    margin-left: 4%;
}
.fonctionnement__liste{
    flex-direction: column;
    width: 88%;
    margin-top: -10%;
    margin-left: 2%;
}
.fonctionnement__liste__fon{
   margin-bottom: 1.3rem;
   margin-left: 4%;
   width: 92%;
}
.titre{
    width: 78%;
    margin-left: 10%;
}
.soustitre {
    margin-left: 3rem;
    width: 76%;
}
.recherche{
    height: 16rem;   
 }
.fonctionnement{
    width: 94%;
    margin-right: 0%;
}
.restaurants__titre {
    padding-top: 2rem;
    margin-left: 7%;
}
.restau {
    width: 100%;
    height: 82rem;
    margin: 0 -0.5% 0 -0.5%;
}
.restaurants__liste__image {
    /*width: 20rem;*/
    margin-left: 9%;
}
.restaurants__liste__footer{
    width: 18rem;
    margin-left: 9%;    
}
.legende {
    bottom: 15rem;
    left: 16rem;
    padding: 0.3rem;
}
.footer__icon{
    margin-left: -2rem;
}
.footer__liste__item__base{
    margin-left: -2rem;
}
.footer__logo {
	margin-left: 0.5rem;
}
.footer {
    text-align: left;
}
/*pages restaurant*/
.restaurants__liste__menu{
    width:98%;
    margin-left: 0;
    margin-top: -15%;
}
.global {
    display: flex;
    margin-left: 0rem;
    width: 100%;
    flex-wrap: wrap;
}
.order {
	background-color: #f3f3f3;
	margin: auto; 	
}
.recherche__button {
	margin-left:-0.8rem;
	
}
