.header {
  position: relative;
  padding: 0.2rem;

  &header__logo {
    font-family: "Shrikhand", "cursive";
    color: $color-black;
    margin: 0;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 2em;
    font-weight: bold;
  }
}


.recherche__button{
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
